.textContainer {
  padding: 2em;
}

.textContainer h2 {
  line-height: 1;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2em;
}

.textContainer h3 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1em;
}

.textContainer p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 2em;
}
